@import 'variables';
@import 'mixins';
@import 'base/reset';
@import 'base/typography';
@import 'base/base';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
@import 'layout/layout';
@import 'components/buttons';
@import 'components/forms';
@import 'components/components';
@import 'pages/blog';
@import 'pages/home';
@import 'pages/login';

/* MEDIA QUERIES */
@media all and (max-width: 800px) {
  main, aside {
    flex: 1;
    width: 100%;
    padding: $padding-content;
  }

  nav {
    display: none;

    li {
      display: block;
    }
  }

  #mobile-nav-button {
    display: block;
  }

  #image-gallery {
    width: $width-mobile-img-gallery;
  }
}
