@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed');

// Global Variables
$font-family-primary: Arial, sans-serif;
$font-family-secondary: 'Barlow Condensed', sans-serif;
$main-color: #661a24;
$secondary-color: #ffffff;
$accent-color: #f2f2f2;
$color-dark-grey: #333333;
$font-size-primary: 16px;
$font-size-secondary: 30px;
$font-size-header: 140%;
$font-size-footer: 85%;
$font-size-mobile-nav: 28px;
$line-height-body: 1.5;
$line-height-header: 60px;
$line-height-mobile-nav: 44px;
$padding-header: 20px;
$padding-content: 10px;
$padding-mobile-nav: 44px;
$height-header: 60px;
$width-main: 70%;
$width-aside: 30%;
$width-img-container: 90%;
$width-image-gallery: 75%;
$width-mobile-img-gallery: 100%;
$margin-bottom-header: 20px;
$margin-bottom-paragraph: 12px;
$margin-content-frame: 20px;
$margin-aside: 10px;

$input-text-width: 200px;
$input-textarea-width: 680px;