@import url("https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

th {
  text-align: left;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #661a24;
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 12px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #661a24;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 10px;
}
header h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  color: #ffffff;
  line-height: 60px;
}

footer {
  background-color: #290a0e;
  color: #ffffff;
  font-size: 85%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer div.footer-container {
  display: inline;
}
footer div.social-links-row {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
footer div.social-links-row .fa {
  padding: 15px;
  font-size: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}
footer div.social-links-row .fa-linkedin {
  background: #0A66C2;
  color: white;
}
footer div.social-links-row .fa-linkedin:hover {
  transform: scale(1.1);
  border: 2px solid #0A66C2;
  background: white;
  color: #0A66C2;
}
footer div.copyright-row {
  text-align: center;
}

nav {
  background-color: #661a24;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  padding: 0;
}
nav li {
  list-style: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
nav li a {
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
nav li:hover {
  background: #3d1016;
  text-shadow: 0 0 8px #ffffff;
}
nav li:active {
  color: #ffffff;
  background-color: #661a24;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

main, aside {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  box-sizing: border-box;
}

main {
  margin: auto;
  flex: 1;
}

aside {
  flex: 1;
  max-width: 300px;
  padding-left: 10px;
}

.content-frame {
  margin: 20px auto;
}

.img-container {
  width: 90%;
  margin: auto;
}
.img-container img {
  width: 100%;
}

/* MEDIA QUERIES */
@media all and (max-width: 800px) {
  main, aside {
    flex: 1;
    width: 100%;
    padding: 10px;
  }
  nav {
    display: none;
  }
  nav ul {
    justify-content: center;
  }
  nav li {
    display: block;
  }
  #mobile-nav-button {
    display: block;
  }
  #image-gallery {
    width: 100%;
  }
}
#btnPrev, #btnNext {
  border: 2px solid #661a24;
  background-color: #3d1016;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}

#mobile-nav-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  display: none;
}

div.content-frame-contact h1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

form.control-panel label {
  display: block;
  padding-top: 15px;
}

div.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.form-container .validation-message {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #661a24;
}

div.form-validation-messages {
  display: flex;
  justify-content: center;
  color: #661a24;
}
div.form-validation-messages div {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 0 10px 0;
  text-align: left;
}

div.contact-form-info {
  display: flex;
  justify-content: center;
}

div.contact-form-comments {
  display: flex;
  justify-content: center;
}

div.contact-form-submit-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  div.form-container {
    display: block;
  }
  div.contact-form-info {
    display: block;
  }
}
input[type=button] {
  color: #ffffff;
  background-color: #661a24;
  border: 2px solid #661a24;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}
input[type=button]:hover {
  color: #661a24;
  background: #ffffff;
  box-shadow: 0px 2px 10px 5px #f2f2f2;
  border: 2px solid #661a24;
}
input[type=button]:active {
  color: #ffffff;
  background-color: #661a24;
  box-shadow: 0px 2px 10px 5px #451219;
  border: 2px solid #ffffff;
  transform: translateY(4px);
}

input[type=text] {
  width: 200px;
  border: 2px solid #661a24;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

input[type=password] {
  width: 200px;
  border: 2px solid #661a24;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

textarea {
  width: 680px;
  height: 300px;
  border: 2px solid #661a24;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

input[type=submit] {
  color: #ffffff;
  background-color: #661a24;
  border: 2px solid #661a24;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}
input[type=submit]:hover {
  color: #661a24;
  background: #ffffff;
  box-shadow: 0px 2px 10px 5px #f2f2f2;
  border: 2px solid #661a24;
}
input[type=submit]:active {
  color: #ffffff;
  background-color: #661a24;
  box-shadow: 0px 2px 10px 5px #451219;
  border: 2px solid #ffffff;
  transform: translateY(4px);
}

@media (max-width: 768px) {
  input[type=text] {
    width: 85%;
  }
}
ul.blog-list li {
  margin: 12px;
  border: 2px #661a24 solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
ul.blog-list li a {
  display: block;
  padding: 20px;
  text-decoration: none;
}
ul.blog-list li a div.blog-list-title {
  font-size: 20px;
  display: inline;
  color: #661a24;
  font-weight: bold;
}
ul.blog-list li a div.blog-list-date {
  display: inline;
  color: #333333;
  float: right;
}
ul.blog-list li a div.blog-list-description {
  color: #333333;
  padding: 10px 0 0 10px;
  font-size: 14px;
}
ul.blog-list li a div.blog-list-read-more {
  display: inline;
  float: right;
  font-size: 12px;
  color: #661a24;
  font-weight: bold;
}
ul.blog-list li:hover {
  background-color: #dedede;
  transform: scale(1.1);
  width: 85%;
  margin-left: 7%;
}

div.content-frame article h3.blog-post-title {
  font-size: 24px;
  color: #661a24;
}
div.content-frame article i.blog-post-date {
  font-size: 14px;
}
div.content-frame article div.blog-post-content {
  padding-top: 20px;
}

div.home-container {
  text-align: center;
}
div.home-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}
div.home-container h1 {
  font-size: 48px;
  margin: 20px 20px 0 20px;
}
div.home-container h2 {
  margin-bottom: 20px;
}
div.home-container p {
  text-align: left;
}

div.cpanel-home {
  width: 100%;
}
div.cpanel-home a {
  color: #661a24;
  width: 100%;
}

/* MEDIA QUERIES */
@media all and (max-width: 800px) {
  main, aside {
    flex: 1;
    width: 100%;
    padding: 10px;
  }
  nav {
    display: none;
  }
  nav li {
    display: block;
  }
  #mobile-nav-button {
    display: block;
  }
  #image-gallery {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
